<html>
<head>
    <title>Router Detail</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Register Router</h1>
    <form method="POST" action="/add">
    <input name="ip" placeholder="ip" required />
    <input name="username" placeholder="username" required />
    <input name="password" placeholder="password" required />
    <button type="submit">Add Router</button>
  </form>

  <ul>
    Routers List
    {% for router in data %}
      <li>
	       <a href="/router/{{ router.ip }}">{{ router.ip }}</a> - {{ router.username }}
         <form method="POST" action="{{ url_for('delete_ip') }}" style="display:inline">
           <input type="hidden" name="idx" value="{{ router._id }}">
           <button type="submit">Delete</button>
         </form>
      </li>
    {% endfor %}
  </ul>

</body>
</html>