<html>
<head>
    <title>Router</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Router {{ router_ip }}</h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Interface</th>
            <th>IP Address</th>
            <th>Status</th>
            <th>Protocol</th>
        </tr>
    {% for data in router_details %}
        {% for interface in data.interfaces %}
        <tr>
            <td>{{ data.timestamp }}</td>
            <td>{{ interface.interface }}</td>
            <td>{{ interface.ip_address }}</td>
            <td>{{ interface.status }}</td>
            <td>{{ interface.proto }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>

</body>
</html>